.profCarouselZone {
    padding: 80px;
    background: #f7f7f7;
    width: 82%;
}

.prof-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
    color: #33477B;
}

.profCarouselProf {
    position: relative;
    display: flex;
    align-items: center;
}


.profCarousel {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 10px;
}

.profCarousel::-webkit-scrollbar {
    display: none;
}

.profCarte {
    min-width: 260px;
    height: 340px;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.profCarte:hover {
    transform: translateY(-8px);
}


.profCarte::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
}


.profOverlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.2)
    );
}

.profInfos {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    z-index: 2;
}

.profInfos h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.profInfos p {
    font-size: 14px;
    opacity: 0.9;
}

.profCarte img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #33477B;
}

.profCarte h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: white;
}

.profCarte p {
    font-size: 14px;
    color: white;
}


.profSuivant {
    align-items: center;
    background: white;
    border: none;
    width: 75px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 10;
    margin-left: 10px;
    
}

.profAvant {
    align-items: center;
    background: white;
    border: none;
    width: 75px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin-right: 10px;
    
}


@media screen and (max-width: 1024px) {
    .profCarouselZone {
        width: 70%;
        padding: 40px;
    }

    .profSuivant,
    .profAvant {
        width: 15px;
    }
}

@media screen and (max-width: 600px) {
    .profCarousel {
        gap: 20px;
        padding: 10px;
        width: 70%;
    }

    .profCarte {
        min-width: 220px;
        height: 300px;
    }

    .prof-title {
        font-size: 24px;
    }
}




