
.footer {
    display: flex;
    flex-direction: column;
    background-color: #163767;
    color: #fff;
    padding: 30px 20px;
    gap: 20px;
    position: relative;
}


.texteGras {
    font-weight: bold;
    color: white;
}

.langue {
    color: grey;
}


.footerCentrer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: nowrap;
}


.footerTexteBlabla {
    display: flex;
    align-items: center;
    gap: 20px;
}



.footerLogoReseaux {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footerLogoReseaux a {
    color: #fff;
    font-size: 16px;
    transition: transform 0.2s, color 0.2s;
}

.footerLogoReseaux a:hover {
    transform: scale(1.2);
    color: #ddd;
}

/* le trait mais à voir si on garde j'ai fais comme la maquette */
.traitFooter {
    width: 95%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin: 0 auto 20px auto;
}


/* Bouton et gestion survol déploiement comme sur le site */
.footerBouton {
    background-color: #fff;
    color: #222;
    border: none;
    height: 45px;
    padding: 0 14px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;

    display: flex;
    align-items: center;
    gap: 10px;

    overflow: hidden;
    transition: background-color 0.3s;
}

.footerZoneBouton {
    display: flex;
    justify-content: flex-start;
}


.footerBoutonTexte {
    max-width: 0;
    opacity: 0;
    white-space: nowrap;
    transition: max-width 0.3s ease, opacity 0.3s ease;
}


.footerBouton:hover .footerBoutonTexte {
    max-width: 250px;
    opacity: 1;
}

.footerBouton:hover {
    background-color: #377FBC;
    color: #fff;
}

.footerZoneBouton .footerBouton {
    background-color: #fff;
    color: #222;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.footerZoneBouton .footerBouton:hover {
    background-color: #377FBC;
    color: #fff;
}

.langueChoix {
    cursor: pointer;
}







